<div class="myheader">MyShop</div>
<div class="wrapper">
    <div class="sidebar">
        Main Menu:
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/aboutus']">About Us</a>
        <a [routerLink]="['/contactus']">Contact Us</a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="footer">
    <div>&copy; 2021 MyShop </div>
    <div class="ac">Readmore about us</div>
    <div class="ar">Powered by UK IT Force</div>
</div>
