/* You can add global styles to this file, and also import other style files */
/* Structure */
body {
    margin: 0px;
}
div {
    box-sizing: border-box;
}
.myheader {
    background-color: yellow;
    padding: 20px; height: 120px;
}
.wrapper {
    display: flex; background-color: orange; height: auto; min-height: calc(100vh - 180px);
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.sidebar {
    width: 15%; min-width: 250px; background-color: green; padding: 20px; font-size: 10px;
}
.content {
    width: 85%; background-color: red; padding: 20px;
}
.footer {
    padding: 20px 100px;
    background-color: #000; color: #fff; height: 60px;
    display: flex; justify-content: space-between;
}
.sidebar a {display: block; padding: 10px 0; border-bottom: solid 1px #f5f5f5; text-decoration: none;}

.ac { text-align: center;}
.ar { text-align: right;}
.p10 { padding: 10px;}
.pl10 { padding-left: 10px;}

/* Structure End */
/* Basket */

/* Basket End */

